<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <footer class="mt-5 border-white" style="background-color: #000000; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; height:100px;">
      <div class="container py-4 text-center text-white-50" style="background-color: #000000;"">
        <div class="mb-3">
          <a href="#" class="px-3 text-white-50 hover-white rainbow-hover">Privacy</a>
          <a href="#" class="px-3 text-white-50 hover-white rainbow-hover">Terms</a>
          <a href="#" class="px-3 text-white-50 hover-white rainbow-hover">Support</a>
        </div>
        <p class="mb-0">&copy; <%= new Date().getFullYear() %> MIT OpenCourseWare. All rights reserved.</p>
      </div>
    </footer>

</body>
</html>