<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIT OpenCourseware</title>
    <link rel="icon" type="image/png" href="/images/mit-icon.png" />

    <link rel="stylesheet" href="/bootstrap-5.3.8-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <header class="shadow-sm border-bottom border-white" style="background-color: #000000; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
      <div class="container-fluid py-3 d-flex justify-content-between">
        <div class="float-start d-flex mb-0 p-0">
          <img class="mb-0 d-inline p-2" height="50px" style="margin-right: 0px;" src="./images/MIT.png" />
          <h1 class="h4 mb-0 fw-semibold text-white d-inline pt-3">OpenCourseWare</h1> 
        </div>
 
        <nav>
          <ul class="nav px-4 pt-1">
            <li class="nav-item">
              <a class="nav-link px-3 text-white-50 hover-white rainbow-hover" href="/">Home</a>
            </li>
            <li class="nav-item">

              <form method="POST" action="/frame">
                  <input type="hidden" name="idx" value="">
                  <button type="submit" class="nav-link px-3 text-white-50 hover-white rainbow-hover">MIT's Site</button>
                </form>

              <!-- <a class="" href="/"></a> -->
            </li>
            <li class="nav-item">
              <a class="nav-link px-3 text-white-50 hover-white rainbow-hover" href="https://www.youtube.com/@mitocw" target="_blank">YouTube</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3 text-white-50 hover-white rainbow-hover" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3 text-white-50 hover-white rainbow-hover" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3 text-white-50 hover-white rainbow-hover" href="/game">MIT Game</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
</body>
</html>