<%- include("./partials/header.ejs") %>
<%- include("./partials/canvas.ejs") %>

<main class="container d-flex justify-content-center align-items-center">
    <div class="container d-flex flex-row justify-content-evenly align-items-center mt-5" style="width: 100%;">
        <img src="./images/author.jpg" class="rounded-3 ms-3" style="z-index: 1; height: 400px;">
        <div style="z-index: 1;" class="ms-5 mb-3 ps-3">
            <h4 class="text-white underline-thin mb-3" style="font-weight: 500;">
                About The Creator
            </h4>
            <!-- <br /> -->
            <p class="text-white">
                My name is Tristan Spear, I am a current Software Engineering student at Cal Poly, San Luis Obispo.<br />
                I enjoy weightlifting, reading, spending time with my pets & family, and learning new things.<br />
                My biggest strenths are perseverence, human connection, and my eagerness to continuously get better.
                <br /><br />
                This project simplifies and condenses MIT's OpenCourseWare website, making it a useful resource for STEM students.<br />
                In this project, I used Bootstrap and JQuery frameworks for the front end, and Express.js for the backend.<br />
                Furthermore, I used AI to create the space animation for the background.<br />
                Thank you for checking out my blog-style web application!
            </p>
        </div> 
    </div> 
</main>

<%- include("./partials/footer.ejs") %>