<%- include("./partials/header.ejs") %>
<%- include("./partials/canvas.ejs") %>

<main>
    <div class="container d-flex flex column justify-content-between align-items-center">
        <img>
        <div>
            <h3>

            </h3>

            <p>

            </p>
        </div>
    </div>
</main>



<%- include("./partials/footer.ejs") %>