<%- include("./partials/header.ejs") %>
<%- include("./partials/canvas.ejs") %>

<main class="container d-flex justify-content-center align-items-center">
    <div class="container d-flex flex-row justify-content-start" style="width: 100%;">
        <img src="./images/author.jpg" class="rounded-3" style="z-index: 1; height: 400px;">
        <div style="z-index: 1;" class="ms-5">
            <h3 class="text-white text-decoration-underline">
                About the creator
            </h3>

            <p>

            </p>
        </div>
    </div>
</main>



<%- include("./partials/footer.ejs") %>