<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <iframe height="600px" width="700px" src="https://ocw.mit.edu/search/?d=Electrical%20Engineering%20and%20Computer%20Science"></iframe>

</body>
</html>